.container{
    height: 100%;
    display: flex;
    justify-content: center;
}
.movies{
    display: grid;
    grid-template-columns: repeat(2,minmax(400px,1fr)); /* fr:fractional unit 사용가능한 공간에 대한 비율 */
    grid-gap: 100px;
    padding: 50px;
    width: 80%;
    padding-top: 70px;
}

@media screen and (max-width:768px) {
    .movies{
        grid-template-columns: 1fr;
        width: 100%;   
    }
}